#hotpoint{
	padding: 0 .18rem;
	li{
		display: flex;
		overflow: hidden;
		padding: .15rem 0;
		border-bottom: 1px solid #d8d8d8;
		.hotpic{
			width: 1.35rem;
			height: 0.95rem;
			background: red;
			img{
				height: 100%;
			}
		}
		.hotcontent{
			margin-left: .1rem;
			h3{
				font-size: .19rem;
				line-height: .19rem;
			}
			p{
				font-size: .14rem;
				line-height: .24rem;
			}
		}
	}
	li:first-child{
		padding-top: 0;
	}
	li:last-child{
		border-bottom: 0;
	}
}