#detail{
	background: #fff;
	.detail_head{
		height: 1.7rem;
		.head_pic{
			height: 1.7rem;
			overflow: hidden;
			img{
				filter:blur(.05rem);
				opacity: 0.8;
			}
		}
		.menu{
			position: relative;
			top: -1.7rem;
			height: .5rem;
			i{
				display: inline-block;
				width: .5rem;
				font-size: .3rem;
				color: #fff;
				text-align: center;
				line-height: .5rem;
			}
			i:nth-of-type(2){
				float: right;
				font-size: .4rem;
			}
			i:nth-of-type(3){
				float: right;
				margin-right: -.1rem;
			}
		}
	}
	.detail_info{
		position: relative;
		top: -1.5rem;
		padding-left: .18rem;
		height: 1.9rem;
		.info_pic{
			position: relative;
			width: 1.26rem;
			height: 1.88rem;
			padding: 0.02rem;
			margin-right: .12rem; 
			background: #fff;
			img{
				height: 100%;
			}
			.moviever{
				position: absolute;
				top: .1rem;
				right: .1rem;
				span{
					display: block;
					width: .38rem;
					height: .28rem;
					margin-bottom: .05rem;
				}
				.bgCine_03{
					height: .34rem;
				}
				.bgCine_04{
					height: .38rem;
				}
			}
		}
		.info{
			position: absolute;
			top: 0;
			left: 1.6rem;
			width: 2.1rem;
			height: 1.9rem;
			font-size: .14rem;
			line-height: .2rem;
			font-weight: 800;
			.titleCn{
				font-size: .22rem;
				color: #fff;
				line-height: .3rem;
				white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			}
			.titleEn{
				height: .2rem;
				color: #fff;
				font-weight: 500;
				white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			}
			.rate{
				height: .2rem;
				span{
					float: right;
					width: .3rem;
					height: .3rem;
					background: #659d0e;
					font-size: .16rem;
					color: #fff;
					font-weight: 500;
					text-align: center;
					line-height: .3rem;
					margin-right: .18rem;
				}
			}
			.see{
				font-weight: 500;
				margin-top: .15rem;
				span{
					display:inline-block;
					width: .92rem;
					height: .38rem;
					margin-right: .06rem;
					text-align: center;
					line-height: .38rem;
					border-radius: .28rem;
				}
				span:first-child{
					color: #777;
					border: 1px solid #999;
				}
				span:last-child{
					color: #659c0d;
					border: 1px solid #659c0d;
				}
			} 
		}
	}
	.detail_buy{
		height: .5rem;
		padding: .25rem;
		margin-top: 1rem;
		p{
			font-size: .2rem;
			color: #fff;
			font-weight: 800;
			border-radius: .48rem;
			text-align: center;
			line-height: .5rem;
			background: #ff8600;
		}
	}
	.cin_line{
		p:first-child{
			height: .06rem;
			overflow: hidden;
			background: #fff;
			box-shadow: 0 0.02rem 0.02rem rgba(51,51,51,0.05);
			position: relative;
			z-index: 1;
		}
		p:last-child{
			height: .14rem;
		    background: #f6f6f6;
		    position: relative;
		    z-index: 0;
		}
	}
	.plot_region{
		font-size: .18rem;
		padding: .16rem .18rem 0;
		.hide{
			height: .4rem;
			overflow: hidden;
		}
		p:last-child{
			height: .34rem;
			text-align: center;
			line-height: .34rem;
			i{
				font-size: .3rem;
				color: #bbb;
			}
		}
	}
	.credits{
		padding: 0 .18rem;
		.credits_info{
			height: 2.8rem;
			.director{
				float: left;
				width: 1rem;
				padding-right: .1rem;
				height: 2.8rem;
				.pic{
					width: 1rem;
					height: 1.4rem;
					margin: .06rem 0 .2rem;
					img{
						height: 100%;
					}
				}
				p{
					text-align: center;
				}
			}
			.actor{
				float: left;
				width: 2.1rem;
				padding-left: .18rem;
				border-left: 1px solid #bbb;
				height: 2.8rem;
				ul{
					margin: .06rem 0 0;
					overflow: hidden;
					li{
						float: left;
						margin-right: 0.1rem;
						.actor_pic{
							width: 1rem;
							height: 1rem;
							margin-bottom: .06rem;
							overflow: hidden;
						}
						p{
							width: 1rem;
							text-align: center;
						}
						.actor_name, .role_name{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.actorEn_name{
							height: .32rem;
						}
						.role_pic{
							width: .48rem;
							height: .48rem;
							margin: .13rem auto;
							img{
								height: 100%;
							}
						}
					}
					li:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	.goto_t{
		font-size: .2rem;
		line-height: .2rem;
		padding: .12rem 0;
		margin-bottom: .1rem;
		i{
			float: right;
			font-size: .3rem;
			color: #bbb;
			line-height: .2rem;
		}
	}
	.movie_img{
		padding: 0 .18rem;
		ul{
			margin-bottom: .3rem;
			overflow: hidden;
			li{
				float: left;
				width: .8rem;
				height: .8rem;
				padding: 0 .02rem;
				img{
					height: 100%;
				}
			}
		}
	}
	.hot_comments{
		padding: 0 .18rem;
		.hot_com{
			height: 1.2rem;
			line-height: .24rem;
			b{
				display:inline-block;
				font-size: .18rem;
				width: 3.4rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			p{
				font-size: .16rem;
				padding: .12rem 0;
			}
		}
		.uesr{
			height: .5rem;
			.user_pic{
				float: left;
				width: .5rem;
				height: .5rem;
				margin-right: .15rem;
				border-radius: .5rem;
				overflow: hidden;
				img{
					height: 100%;
				}
			}					
			.uesr_name{
				float: left;
				font-size: .16rem;
				color: #777;
				p{
					line-height: .24rem;
				}
				i{
					display: inline-block;
					width: .24rem;
					height: .24rem;
					background: #659d0e;
					color: #fff;
					text-align: center;
					line-height: .24rem;
					margin-left: .06rem;
				}
			}
		}
	}
	.short_comments{
		padding-left: .18rem;
		.comments{
			font-size: .14rem;
			overflow: hidden;
			padding-top: .18rem;
			border-bottom: 1px solid #d8d8d8;
			.user_head{
				float: left;
				width: .48rem;
				height: .48rem;
				margin-right: .16rem;
				border-radius: .5rem;
				overflow: hidden;
				img{
					height: 100%;
				}
			}
			.user_comments{
				float: left;
				width: 2.7rem;
				.user_name{
					color: #999;
					line-height: .24rem;
					.commentsdate{
						float: right;
						i{
							display: inline-block;
							width: .24rem;
							height: .24rem;
							background: #659d0e;
							font-size: .14rem;
							color: #fff;
							text-align: center;
							line-height: .24rem;
							margin-left: .06rem;
						}
					}
				}
				.content{
					font-size: .16rem;
					line-height: .24rem;
				}
				.reply{
					height: .42rem;
					text-align: right;
					padding-top: .12rem;
					i{
						font-size: .24rem;
					}
					span{
						margin-right: .12rem;
					}
				}
			
			}
		}
		.comments:last-child{
			border-bottom: 0;
		}
	}
}