
#discover{
    a{
        color: #333;
    }
	ul.discoverheader{
        background: white;
		display: flex;
		li{
            list-style: none;
            font-size: 0.16rem;
			flex:1;
			line-height: 0.4rem;
			height:0.4rem;
            text-align: center;            
		}
	}
}