#trailer {
  background: white; }
  #trailer .banner {
    width: 100%;
    height: 2.3rem;
    position: relative; }
    #trailer .banner img {
      display: block;
      width: 100%;
      height: 100%; }
    #trailer .banner h3 {
      font-size: 0.2rem;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.15rem 0 0.15rem;
      color: white;
      text-align: center; }
  #trailer ._movieplaylist {
    padding-left: 0.16rem; }
    #trailer ._movieplaylist li {
      display: flex;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      position: relative;
      padding: 0.2rem 0.2rem 0.2rem 0; }
      #trailer ._movieplaylist li .npic {
        width: 1.6rem;
        height: 0.90rem; }
        #trailer ._movieplaylist li .npic a {
          height: 0.90rem;
          position: relative;
          display: block; }
          #trailer ._movieplaylist li .npic a .i_video {
            position: absolute;
            width: 0.38rem;
            height: 0.38rem;
            bottom: 0.08rem;
            right: 0.08rem;
            display: inline-block;
            background: url(//static1.mtime.cn/html5/20180426170931/images/2014/viceoplay.png) no-repeat center center;
            background-size: cover; }
          #trailer ._movieplaylist li .npic a img {
            width: 1.62rem;
            height: 0.98rem;
            display: block;
            border: 1px solid #ddd; }
      #trailer ._movieplaylist li .newstxt {
        flex: 1;
        padding: 0; }
        #trailer ._movieplaylist li .newstxt dl {
          padding: 0.04rem 0.1rem 0;
          margin-left: 0.01rem; }
          #trailer ._movieplaylist li .newstxt dl dt {
            font-size: 0.16rem;
            font-weight: bold;
            line-height: 0.24rem; }
          #trailer ._movieplaylist li .newstxt dl dd {
            padding: 0.1rem 0 0.4rem;
            color: #999; }
            #trailer ._movieplaylist li .newstxt dl dd p {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 0.14rem;
              line-height: 0.14rem; }
