#shopping{
    background: #f6f6f6;position: relative;
    .sh-top{
        padding: 0.09rem;display: flex;justify-content: space-around;
        
        .search{
            font-size: 0.15rem;color: #777;padding: 0 0.15rem 0 0.17rem;height: 0.38rem;line-height: 0.38rem;background: #fff;border-radius: 0.04rem;
            width: 2.6rem;
            
            .icon-icon--{
                font-size: 0.2rem;float: left;
            }
            
            span{
                margin-left: 0.02rem;float: left;
            }
        }
        
        .shop{
           height: 0.38rem;line-height: 0.38rem; 
           
           .icon-caigou-xianxing{
                font-size: 0.2rem;color: #777;
           }
        }
    }
    
    .nav{  
        background: white;margin-bottom: 0.15rem;border-bottom: 0.01rem solid #e5e4e4;
             
        ul{
            display: flex;width: 100%;flex-wrap: wrap;
            
            li{
                width: 25%;text-align: center;
                
                a{
                    display: block;text-align: center;margin: 0 auto;padding: 0.1rem 0;
                    
                    img{
                        width: 50%;margin-left: 25%;margin-bottom: 0.1rem;
                    }
                    
                    span{
                        color: #777;
                    }
                }
            }
        }
    }
    
    .mallshop{
        display: flex;flex-wrap: wrap;margin-bottom: 0.1rem;
        
        .shop01,.shopRight{
            width: 50%;
        }
        
        .shop01{
            box-sizing: border-box;padding-right: 0.03rem;height: 2.17rem;
            
            img{
                height: 100%;
            }
        }
        
        .shopRight{           
            div{
              box-sizing: border-box;padding-bottom: 0.03rem;height: 1.1rem;
              
                img{
                    height: 100%;
                }
            }
        }
    }
    
    .america{
       height: 1.4rem;width: 100%;background-size:100%100%;
       ul{
           display: flex;justify-content: space-between;height: 100%;
           
           li{
               width: 20%;position: relative;height: 100%;
               
               img{
                   width: 80%;margin-left: 10%;border-radius: 50%;position: absolute;top:40%;
               }
           }
       }
    }
    
    .mall{
        text-align: center;background: white;margin-bottom: 0.1rem;
        
        h4{
          font-size: 0.14rem;font-weight: normal;  
        }
        
        h3{
            font-size: 0.2rem;font-weight: normal;
        }
        
        ul{
            display: flex;justify-content: space-between;flex-wrap: wrap;
            
            li{
                width: 33%;text-align: center;
                
                img{
                    width: 80%;margin-left: 10%;
                }
                
                .title{
                    font-weight: normal;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 0.1rem;font-size: 0.13rem;
                }
                
                .price{
                   margin-top: 0.1rem;color: #f15353;margin-bottom: 0.1rem;font-weight: 800;
                }
            }
        }
        
        .btn{
            text-align: center;padding: 0.2rem 0 0.1rem;
            
            a{
                background: #f26262;display: inline-block;color: #fff;text-align: center;width: 1.4rem;height: 0.4rem;line-height: 0.4rem;
                border-radius: 0.2rem;
            }
        }
    }
    
    .wanju{
        background: white;padding: 0.1rem 0;margin-bottom: 0.1rem;
        
        .wanju-top{
            display: flex;height: 0.18rem;line-height: 0.18rem;justify-content: space-between;
            
            h2{
                color: #FFB90F;font-weight: normal;font-size: 0.16rem;
                
                i{
                    display: inline-block;background: #FFB90F;height: 0.18rem;width: 0.05rem;vertical-align: middle;margin-right: 0.05rem;
                }
            }
            
            .gengduo{
                margin-right: 0.2rem;font-size: 0.13rem;
                
                i{
                    color: darkgray;
                }
            }
        } 
        
        .hot{           
            ul{
                display: flex;padding: 0.1rem;
                
                li{
                    width: 33.3%;box-sizing: border-box;border-top: 0.02rem solid gainsboro;padding-top: 0.1rem;
                    
                    a{
                        display: block;text-align: center;
                        
                        .hot-title{
                           font-weight: normal;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 0.1rem;font-size: 0.13rem;
                        }
                        
                        .hot-price{
                            margin-top: 0.1rem;color: #f15353;margin-bottom: 0.1rem;font-weight: 800;
                        }
                    }
                }
            }
        }             
    }
    
    .shop-bottom{
        text-align: center;padding: 0.1rem 0;background-color: #f6f6f6;
        
        h2{
            margin-bottom: 0.04rem;
            
            b{
                font-weight: 400;font-size: 0.15rem;
            }
        }
        
        ul{
            display: flex;background: white;flex-wrap: wrap;
            
            li{
               width: 50%; border-bottom: 0.05rem solid ghostwhite;box-sizing: border-box;border-right: 0.05rem solid ghostwhite;
               
               a{
                   display: block;position: relative;
                   
                   span{
                        background-color: #25ACBD;color: #fff;display: inline-block;padding: 0.01rem 0.03rem;font-size: 0.08rem;position: absolute;left: 0;
                        top:0;
                   }
                   
                   .shop-title{
                       color: #969896;margin-bottom: 0.04rem;
                   }
                   
                   .shop-price{
                        color: #ff8600;margin-bottom: 0.1rem;font-weight: 800; text-indent: -54%;
                   }
               }
            }
        }
    }
    
    .morelink{
        width: 100%;margin-bottom: 0.1rem;
           
       a{
          font-size: 0.2rem;color: #969896; text-align: center;display: block;font-weight: 400;
       }
    }
    
    .backtop{
       position:fixed;width: 0.5rem;height: 0.5rem;z-index: 2;right: 0;top:80%;
    }   
}
