#nav nav {
  height: .5rem;
  background: #1c2635; }
  #nav nav ul {
    display: flex;
    padding-left: .1rem;
    box-sizing: border-box; }
    #nav nav ul li {
      float: left;
      font-size: .16rem;
      color: #fff;
      height: .5rem;
      text-align: center;
      flex: 1; }
      #nav nav ul li .active {
        color: #fff;
        font-weight: 800;
        border-bottom: .02rem solid #fff; }
      #nav nav ul li .logo {
        border-bottom: none; }
      #nav nav ul li a {
        display: inline-block;
        line-height: .48rem;
        color: #bbb;
        height: .48rem; }
        #nav nav ul li a img {
          width: 100%;
          display: block;
          margin-top: .15rem; }
      #nav nav ul li .my-icon {
        font-size: .2rem; }
